<!-- <!DOCTYPE html>
<html lang="en">
  <style>
    body {
      background: linear-gradient(to right, pink, lightblue);
    }
  </style>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> Hello Gray Area!
    </title>    
    <script type="text/javascript" src="./index.js" defer></script>
  </head>
  <body>

  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ide that always compiles
    </title>    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"> -->
    
    <link rel="stylesheet" type="text/css" href="style.css" title="shaderplace">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/lint.min.css">
    
    <!-- <script src="camera.js" defer></script> -->
    <script src="defaultShaders.js" ></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/lint.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/lint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/javascript-lint.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <link rel="stylesheet" type="text/css" href="lint.css">

    <script type="text/javascript" src="./editor.js" async></script>
  </head>
  <body>

    <div id="editor"></div>
    <canvas id="glcanvas" class="u-displaywrapper" style="position: fixed; z-index: -1;"">
      Oh no! Your browser doesn't support canvas!
    </canvas>

  </body>
</html>
